<div class="container" style="margin-top: 10px; ">

    <ul class="list-group list-group-flush">

        <li class="list-group-item">
            <span class="detail-title">Upvotes:</span><span class="upvote"> {{ quote.upVote }}</span>
            <a class="icon-spacing">
                <fa-icon icon="thumbs-up" (click)="upVote()" 
                [styles]="{'stroke': 'green', 'color': 'green'}">
                </fa-icon>
            </a>
        </li>

        <li class="list-group-item">
            <span class="detail-title">Downvotes:</span><span class="downvote">  {{ quote.downVote }}</span>
            <a class="icon-spacing">
                <fa-icon icon="thumbs-down" (click)="downVote()"
                [styles]="{'stroke': 'brown', 'color': 'brown'}">
                </fa-icon>
            </a>     
        </li>
        
        <li class="list-group-item">
            <span class="detail-title">Submitted by</span><span class="submitter">{{quote.submittedBy }}</span> 
        </li>

        <li class="list-group-item" style="text-align: center; ">
            <fa-icon icon="clock" size="lg"></fa-icon>
            <span class="timer">{{ quote.dateCreated | timePassed }} days</span>
        </li>
    </ul>

    <a style="margin-top: 10px" class="icon-spacing" (click)="deleteGoal()" >
        <fa-icon 
        icon="trash" 
         size="lg" [styles]="{'stroke': 'red', 'color': 'red'}">
        </fa-icon>
    </a>
    
</div>
