.heading {
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding-top: 30px;
    
}
.card {
    width: 25rem;
    margin-top: 10px;
}
.col-sm {
    margin-left: 100px;
}
.quote-btn {
    padding-top: 10px;
}
.header-form {
    float: right;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
