<h1>QUOTES</h1>
<hr>
<div class="row">
    <div class="col-sm">
        
        <div class="card" style="width: 25rem;" *ngFor='let quote of quotes; let i = index'>
            <div class="card-body">    
                <p appHighlightUpvote class="card-text"> {{ quote.description }} ~ by: {{ quote.author}} </p>
                <button (click)='showDetails(i)' class="btn btn-primary">Show Details</button>
                <app-quote-details 
                    (addUpVote)="upVote(i)" (addDownVote)="downVote(i)" 
                    (goalDelete)="deleteGoal(i)"*ngIf='quote.showQuoteDetails' [quote]='quote'>
                </app-quote-details>
            </div>
        </div>
        
    </div>

    <div class="col-sm">
        <button (click)="displayForm()" class="btn btn-info">New Quote</button>
        <app-quote-form *ngIf="showForm" (addQuote)="submitQuote($event)"></app-quote-form>
    </div>
</div>

