<div  *ngFor='let quote of quotes; let i = index' class='row'>
    <div class="col s12 m7">
        <div class="card horizontal">
            <div class="card-image">
                <img src="https://lorempixel.com/100/190/nature/6">
            </div>
            
            <div class="card-stacked">
                <div class="card-content">
                   <p appHighlightUpvote> {{ quote.description }} ~ by: {{ quote.author}} </p>
                </div>
            <div class="card-action">
                <button (click)='showDetails(i)' class="waves-effect waves-light btn">Details</button>
                <app-quote-details 
                    (addUpVote)="upVote(i)" (addDownVote)="downVote(i)" 
                    (goalDelete)="deleteGoal(i)"*ngIf='quote.showQuoteDetails' [quote]='quote'>
                </app-quote-details>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row">
    <app-quote-form (addQuote)="submitQuote($event)"></app-quote-form>
</div>