<div class="container-fluid">
    <form (ngSubmit)="submitQuote()" #quoteForm='ngForm'>
        <div class="form-group">
            <label for="name" style="color: white">Quote</label>
            <textarea type="text" [(ngModel)]="newQuote.description" name="description" #description='ngModel' 
                    class="form-control" id="description" placeholder="Enter description" required></textarea>
            <span [hidden]="description.valid || description.pristine" class="alert alert-danger">Quote is Required! </span>
        </div>

        <div class="form-group">
            <label for="author" style="color: white">Author</label>
            <input type="text" [(ngModel)]="newQuote.author" name="author" #author='ngModel' 
                    class="form-control" id="author" placeholder="Enter author" required>
            <span [hidden]="author.valid || author.pristine" class="alert alert-danger">Author is Required!</span>
        </div>

        <div class="form-group">
            <label for="submittedBy" style="color: white">Submitted By</label>
            <input type="text" [(ngModel)]="newQuote.submittedBy" name="submittedBy" #submittedBy='ngModel' 
                    class="form-control" id="submittedBy" placeholder="Enter Your Name"required>
            <span [hidden]="submittedBy.valid || submittedBy.pristine" class="alert alert-danger">Enter User Name!</span>
        </div>

        <button type="submit" class="btn btn-success">Add Quote</button>
    </form>
</div>
