<div>
    <form (ngSubmit)="submitQuote()" #quoteForm='ngForm'>
        <div>
            <label for="name">Quote</label>
            <textarea type="text" [(ngModel)]="newQuote.description" name="description" #description='ngModel' required></textarea>
            <span [hidden]="description.valid || description.pristine" class="alert alert-danger">Quote is Required! </span>
        </div>

        <div>
            <label for="author">Author</label>
            <input type="text" [(ngModel)]="newQuote.author" name="author" #author='ngModel' required>
            <span [hidden]="author.valid || author.pristine" class="alert alert-danger">Author is Required!</span>
        </div>

        <div>
            <label for="submittedBy">Submitted By</label>
            <input type="text" [(ngModel)]="newQuote.submittedBy" name="submittedBy" #submittedBy='ngModel' required>
            <span [hidden]="submittedBy.valid || submittedBy.pristine" class="alert alert-danger">Enter User Name!</span>
        </div>

        <button type="submit" >Add Quote</button>
    </form>
</div>
